<h1>CV Patchelli</h1>

<nav>
    <a routerLink="/r1">++ Formation ++</a>
    <a routerLink="/r2">++ Experiences ++</a>
    <a routerLink="/r3">++ Certifications ++</a>
</nav>

<router-outlet></router-outlet>
<!--
<app-rubrique [title]="rubrique1"
[lignes]="[{dates:'2021-2023', descriptions:'BAC scientist'}, {dates:'2021-2023', descriptions:'Diploma IT'}]"></app-rubrique>

<app-rubrique [title]="rubrique2"
[lignes]="[{dates:'2015-2019', descriptions:'IT Baschelor'}, {dates:'1994-2000', descriptions:'Engineer Telkom'}]"></app-rubrique>

<app-rubrique [title]="rubrique3"
[lignes]="[{dates:'2021-2023', descriptions:'Language'}, {dates:'2021-2023', descriptions:'Human ressources'}]"></app-rubrique>
-->